<script>  
    jQuery(window).ready(function(){  
        initiate_geolocation();  
    });  
    function initiate_geolocation() {  
        navigator.geolocation.getCurrentPosition(handle_geolocation_query,handle_errors);  
    }  
    function handle_errors(error)  
    {  
        switch(error.code)  
        {  
            case error.PERMISSION_DENIED: alert("user did not share geolocation data");  
            break;  
            case error.POSITION_UNAVAILABLE: alert("could not detect current position");  
            break;  
            case error.TIMEOUT: alert("retrieving position timed out");  
            break;  
            default: alert("unknown error");  
            break;  
        }  
    }  
    function handle_geolocation_query(position){

        $('[id=post_latitude]').val(position.coords.latitude);
        $('[id=post_longitude]').val(position.coords.longitude);
        
    }  
</script> 


<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>

  <p>Address: <%= f.text_field :address %></p>
  <p>City: <%= f.text_field :city %></p>
  <p>State: <%= f.text_field :state %></p>
  <p>Zipcode: <%= f.text_field :zip %></p>
  <p>Details: <%= f.text_field :description %> </p>
  <p>Location: <%= f.text_field :location %></p>
  <p><%= f.hidden_field :latitude %></p>
  <p><%= f.hidden_field :longitude %></p>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>