<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <% if user_signed_in? %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
  <% end %>
  <p>Description: <%= f.text_field :description %> </p>
  <p>Location: <%= f.text_field :location %></p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>